@media (min-width: 320px) and (max-width: 480px)
{
.card-body {
    flex: 1 1 auto;
    padding: 0 15px;
}

form.form-half {
    width: 100%;
    float: left;
}

.nav.nav-tabs .nav-item .nav-link {
    padding: 0.5rem 10px;
        font-size: 10px;
}
.nav.nav-tabs .nav-item .nav-link.active {
    padding: 0.5rem 10px;
        font-size: 10px;
}
.product-page .pro-add-attrib select {
    width: 81%;
    float: left;
}

.product-page .pro-add-attrib .form-actions.right {
    width: 14%;
}

.app-page-header .form-actions.right {
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-page .pro-del-attrib input {
    width: 81%;
    margin-bottom: 10px;
}

.app-page.app-page-buyer .buyer_row {
    width: 100%;
    float: right;
}

.view-only label.col-lg-2 {
    width: 100%;
    text-align: left;
    border: none;
    padding: 10px 0;
}

.view-only input.form-control {
    border-left: 1px solid #ccd6e6;
}
}
