@media (min-width: 1200px) {
    .table-responsive {
        min-height: auto;
        overflow-x: visible;
    }
}
@media  (min-width:991px) and (max-width:1200px){
	input[type="submit"], input[type="button"] {
    font-size: 11px;
}
	.pro-box-inner ul li, .tab-left-details ul li {
    list-style: none;
    font-size: 11px;
}
	.tab-left-details {
    float: left;
    width: 20%;
}
	.tab-right-details {
    width: 80%;
}
	.search-h {
    padding: 8px 14px 13px 14px;
}
	.search-cat input.form-field {
    width: 61%;
}
	.search-cat.new-has-rfq input:first-of-type {
    width: 33.3%;
    margin-left: 0px;
}
	.search-cat.new-has-rfq input[type="button"] {
    float: right;
    margin: 15px 0 0 0;
}
	.search-h input.form-field {
    width: 100%;
}
	.crfq.selection-panel-new .col-md-4 {
    width: auto !important;
    flex: initial !important;
    max-width: 100% !important;
    padding: 0 0 0 0;
    float: right;
}
	.crfq.selection-panel-new .col-md-8 {
    width: 100% !important;
    flex: initial !important;
    max-width: 100% !important;
    padding: 0 15px 15px 0;
}
	.crfq.selection-panel-new .col-md-4 input.saverfqbtn {
    padding: 0 20px;
    float: right;
    margin: 0;
}
	    input::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
        
    }
    input:-moz-placeholder,
    select:-moz-placeholder { /* Firefox 18- */
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
    }
    input::-moz-placeholder,
    select::-moz-placeholder { /* Firefox 19+ */
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
    }
    input:-ms-input-placeholder,
    select:-ms-input-placeholder {
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
    }
}
@media  (min-width:1200px) and (max-width:1500px){
		.search-h {
    padding: 8px 14px 13px 14px;
}
    input[type="submit"],
    .pro-box-inner ul li, .tab-left-details ul li,
    .estimate-details .pro-box-inner ul li, .estimate-details .tab-left-details ul li{
        font-size: 13px;
    }
    .tab-left-details {
        width: 20%;
    }
    .tab-right-details {
        width: 80%;
    }
    .tab-right-details h2 {
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 10px;
    }
    .tab-left-details ul {
    margin-top: 229px;
    }
    .search-cat.new-has-rfq input {
        width: 29.3%;
        margin-left: 15px;
    }
    .search-h input.form-field, .search-cat input.form-field {
        width: 61%;
    }
	    .search-h input.form-field{
        width: 100%;
    }
    .menu-ul ul li a {
/*
    font-size: 28px;
    line-height: 36px;
*/
    }
	.menu-ul ul {
/*    margin-top: 10px;*/
}
	.crfq.selection-panel-new .col-md-8 {
    width: 100% !important;
    flex: initial !important;
    max-width: 100% !important;
    padding: 0 15px 15px 0;
}
	.crfq.selection-panel-new .col-md-4{
width: auto !important;
    flex: initial !important;
    max-width: 100% !important;
padding: 0;
    float: right;
}
	.crfq.selection-panel-new .col-md-4 input.saverfqbtn {
    padding: 0 20px;
    float: right;
    margin: 0;
}
	.search-cat.new-has-rfq input[type="button"] {
    float: right;
    margin: 15px 15px 0 0;
}
}

@media screen and (min-width:1024px) and (max-width: 1024px),
screen and (min-height: 750px) and (max-height: 768px) {

}


@media screen and (min-width:1200px) and (max-width: 1280px) {
    @media screen and (min-height: 655px) and (max-height: 670px){

    }

}
@media (min-width: 767px) and (max-width: 991px) {
    .menu-btn h3 {
        display: none;
    }
    .menu-btn img {
        max-width: 30px;
        margin-top: 5px;
    }
    .logo img {
        max-width: 90%;
    }
    .logo {
        padding: 0 7px;
    }
    .menu-main-has {
        padding: 15px;
    }
    img.menu-logo-has {
        max-width: 150px;
    }
    .login-ico {
        border: none;
        padding: 0;
    }
    .login-ico h4 {
        display: none;
    }
    .menu-ico {
        padding: 0;
    }
    .about-content p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 12px;
    }
    header {
        height: 100px;
    }
    .login-ico img {
        max-width: 30px;
    }
}
@media (max-width: 991px) {
    .menu-btn h3 {
        display: none;
    }
    .menu-btn img {
        max-width: 30px;
        margin-top: 5px;
    }
    .logo img {
        max-width: 90%;
    }
    .logo {
        padding: 0 7px;
    }
    .menu-main-has {
        padding: 15px;
    }
    img.menu-logo-has {
        max-width: 150px;
    }
    img.menu-close-has {
        margin-top: 9px;
        cursor: pointer;
        max-width: 20px;
    }
    .menu-ul ul {
        padding: 0;
        margin-top: 60px;
    }
    .menu-ul ul li a {
        font-size: 18px;
        line-height: 26px;
    }
    .menu-main-has {
        background: #004360 url(../images/menu-op-bg.png) right bottom / 160px no-repeat;
    }
    .search-h {
        padding: 0;
    }
    .about-content {
        padding: 0;
    }
    .login-n-drop {
        padding: 0 0 0 15px;
    }
    .login-ico {
        border: none;
        padding: 0;
    }
    .login-ico h4 {
        display: none;
    }
    .menu-ico {
        padding: 0;
    }
    .about-content p {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 12px;
    }
    header {
        height: 70px;
    }
    .login-ico img {
        max-width: 30px;
    }
    .cop {
        padding: 0px 0 22px;
    }
    .contact-form .col-md-6 {
        padding: 0;
    }
    h2.title.gradient {
        color: #014867;
        font-size: 16px;
    }
    .login-form h1 {
        font-size: 18px;
        line-height: 28px;
        margin: 30px 0 0;
    }
    .login-form span {
        font-size: 13px;
        line-height: 38px;
        margin: 0px 0 10px;
    }
    form.form-login-panel {
        width: 100%;
    }
    form.form-login-panel button.btn-subs {
        width: 48%;
        font-size: 14px;
        line-height: 36px;
    }
    .login-ico ul {
        top: 50px;
        right: 0;
        left: initial;
    }
    .new-full-search .search-h {
        width: 100%;
        padding: 15px;
    }
    .search-h input.form-field, .search-cat input.form-field {
        width: 100%;
        float: left;
    }
    input[type="submit"] {
        margin: 15px 0 0;
        width: auto;
        float: right;
        padding: 0 20px;
        height: 38px;
        font-size: 13px;
        line-height: 38px;
    }
    .search-cat {
        padding: 15px;
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
    .select-fields {
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
    flex: auto;
    max-width: 100%;
    }
    .search-cat input[type="submit"] {
        width: 50%;
        margin-left: 0px;
    }
    .vertical-tabs .nav-tabs > li.nav-item.active:after
    {
        display: none;
    }
    .vertical-tabs ul.nav.nav-tabs {
        width: 100%;
        margin-bottom: 15px;
    }
    .tab-content {
        width: 100%;
        padding: 25px 15px;
        float: left;
    }
    .tab-left-details {
        display: none;
    }
    .tab-right-details {
        width: 100%;
        float: left;
    }
    .tab-right-details h2 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
    }
    .closex {
        right: -10px;
        top: -20px;
    }
    .tab-right-details h2 {
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0 10px;
    }
    .selection-panel input {
        width: 100%;
        margin: 0;
    }
    .selection-panel input[type="submit"] {
        float: right;
        width: auto;
        margin: 0;
    }
    .selection-panel input {
        width: 100%;
        margin: 0 0 15px;
    }
    input[type="submit"] {
        font-size: 13px;
    }
    .edit {
        right: 20px;
        top: -22px;
    }
    .search-cat.new-has-rfq input:first-of-type {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .search-cat.new-has-rfq input {
        margin-left: 0;
        margin-bottom: 15px;
    }
    input::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
        
    }
    input:-moz-placeholder,
    select:-moz-placeholder { /* Firefox 18- */
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
    }
    input::-moz-placeholder,
    select::-moz-placeholder { /* Firefox 19+ */
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
    }
    input:-ms-input-placeholder,
    select:-ms-input-placeholder {
        color: rgba(10, 67, 92, 0.6) !important;
        font-size: 11px;
        line-height: 22px;
    }
    input.form-field, select {
        font-size: 11px;
    }
    .btn-search.select-fields.popup_open {
        margin-bottom: 0;
    }
    .pro-box-main,
    .estimate-details .pro-box-main{
        width: calc(305px - 70px);
        float: left;
        margin-right: 0;
    }
    .cop {
        font-size: 12px;
    }
    .vertical-tabs {
        padding: 20px 8px;
    }
    .popover-inner h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .estimate-details .pro-box-inner ul li {
        font-size: 14px;
        line-height: 16px;
        margin: 2px 0;
    }
    .rfq-listing-detils {
        padding: 0;
    }
    tr {
        border-left: 0;
        border-right: 0;
    }
    .parnt-radio {
        width: 100%;
    }
    .supp-rfq .shows-list-inner input[type=radio] {
        position: relative;
        top: 3px;
        width: 28px;
        height: 15px;
        margin-left: 0;
    }
    .po-details .company-details {
        padding: 12px;
    }
    .co-title h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .send-to-supp.send-po a {
        margin: 0 0 12px;
    }
    .co-logo {
        display: table;
        border-right: 0;
        padding-right: 0;
        float: none;
        margin-right: 0;
        margin: 0 auto 20px;
    }
    .co-details h3 {
        font-size: 16px;
        line-height: 20px;
    }
    .content-main-sign {
        float: left;
        width: 100%;
    }
    .con-left, .con-right {
        border: 1px solid #d9e1f1;
        border-radius: 8px;
        width: 100%;
    }
    .con-right {
        border-radius: 8px;
        border: 1px solid #d9e1f1;
        margin-top: 30px;
    }
    .con-parnt-content,
    .con-inner-content{
        padding: 12px;
    }
    .con-right .con-inner-content {
        background: transparent;
        border: none;
    }
    .content-table-pro .table > thead > tr > th {
        font-size: 14px !important;
    }
    .table > tbody > tr > td:first-child {
        padding-left: 15px;
    }
    .totalcon-left {
        width: 100%;
        float: left;
    }
    .totalcon-right {
        width: 100%;
        margin-top: 20px;
        float: left;
    }
    .totalcon-left ul li {
        font-size: 14px;
        line-height: 24px;
        color: #000;
        margin-bottom: 10px;
        padding-bottom: 0;
        font-weight: 600;
    }
    .content-main-sign .col-md-4 {
        padding: 0;
    }
    .company-details {
        background: #fff;
        padding: 20px;
    }
    .content-box-1.rfq-add {
        padding: 0;
    }
    .rfq-add .box-content ul {
        margin: 0;
        padding: 0;
    }
    .send-to-supp a {
        color: #fff;
        height: 45px;
        padding: 0px 60px;
        font-size: 16px;
        line-height: 45px;
        border: none;
        background: #004360;
        transition: 0.3s;
        display: table;
        float: none;
        width: 96%;
        margin: 20px auto 0;
        text-decoration: none;
        display: table;
        text-align: center;
    }
    .sig-right {
        padding: 0;
    }
    .inputfile-6 + label span {
        width: 100px;
    }
    .up-title h3 {
        color: #2d2e4f;
        font-size: 10px;
        line-height: 36px;
    }
    .co-pro {
        margin-top: 0;
        padding: 0;
    }
    .co-pro-form .col-md-6,
    .co-pro-form {
        padding: 0;
    }
    .gen-msg .send-to-supp a {
        color: #fff;
        height: 38px;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 13px;
        line-height: 38px;
        border: none;
        background: #004360;
        transition: 0.3s;
        display: table;
        float: right;
        margin: 0px 0px;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 6px;
        text-align: center;
    }
    .box-content {
        padding: 12px;
    }
    h2.title.gradient {
        text-align: center;
    }
    .btn-h-main {
        position: relative;
        float: left;
        border: 1px solid #d9e1f1;
        margin-top: 10px;
        width: 100%;
    }
    h2.title a {
        display: table;
        margin: 0 auto;
        float: none;
    }
    .image-details .pop-over-main.supp-rfq .popover-inner {
        width: 230px;
    }
    .feild-supp .pop-over-main.supp-rfq .popover-inner {
        width: 280px;
        max-height: 500px;
    }
    .edit-p {
        border-right: none;
    }
	.crfq.selection-panel-new {
    width: 100%;
}
	.crfq.selection-panel-new .col-md-8,
	.new-full-search .search-h .col-md-7{
    width: 100% !important;
    flex: initial !important;
    max-width: 100% !important;
    padding: 0 0px 15px 0;
		    float: left;
}
		.crfq.selection-panel-new .col-md-4{
width: auto !important;
    flex: initial !important;
    max-width: 100% !important;
    padding: 0 0px 0 0;
    float: right;
}
	.crfq.selection-panel-new .col-md-4 input.saverfqbtn {
    padding: 0 20px;
    float: right;
    margin: 0;
}
		.search-cat.new-has-rfq input[type="button"],
	.new-full-search .search-h input[type="button"]{
    float: right;
		margin: 0 0;
}
	.pro-box-main label {
    font-size: 12px;
    line-height: 20px;
}
	
}
@media (min-width: 767px) and (max-width: 991px) {
    header {
        height: 100px;
    }
    .image-details .pop-over-main.supp-rfq .popover-inner {
        width: 340px;
    }
    .feild-supp .pop-over-main.supp-rfq .popover-inner {
        width: 400px;
        max-height: 500px;
    }
	
}