/*          font-family: 'Open Sans', sans-serif;               */

@media (min-width: 767px) {
	.padding-full {
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.no-padding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.no-padding-full {
		padding: 0 !important;
	}
	.no-padding-left {
		padding-left: 0 !important;
	}
	.no-padding-right {
		padding-right: 0 !important;
	}
}
body {
	font-family: 'Open Sans', sans-serif !important;
	background: #edf0f5;
	padding: 0;
	margin: 0;
	overflow: auto;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #004360;
}
header {
	border-bottom: 1px solid #dcddde;
	padding: 15px 0;
	float: left;
	width: 100%;
	position: relative;
	z-index: 9;
	height: 102px;
	display: flex;
	align-items: center;
	background: #fff;
	padding: 0 2%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.logo {
	width: 100%;
	float: left;
}
.logo img {
	max-width: 230px;
	display: table;
	margin: 0 auto;
}
.gradient {
	/*background: #edf0f5;*/
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 250, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 250, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 247, 250, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f7fa', GradientType=0);
	border: 1px solid #d9e1f1;
	border-bottom: 0;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 10px 0;
}
.footer ul {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
}
.footer ul li {

}
.footer ul li a {
	margin: 0 5px;
	color: #acacac;
	font-size: 14px;
	text-decoration: none;
	transition: 0.3s;
}
.footer ul li a:hover {
	color: #6b7071;
	text-decoration: none;
}
.copyright p {
	color: #acacac;
	font-size: 14px;
	line-height: 20px;
}
.menu-ico {
	padding: 20px 25px;
}
.dashboard-main {
	width: 100%;
	float: left;
	height: auto;
	padding-top: 0;
	position: relative;
	min-height: 500px;
}
.left-panel {
	width: 17%;
	float: left;
	height: 100%;
	background: #004360;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	display: none;
}
.right-panel {
	width: 100%;
	float: right;
	height: 100%;
	transition: 0.3s;
	position: relative;
	overflow: visible;
	margin-right: 0;
	margin-top: 25px;
	padding-bottom: 60px;
	padding: 0 2%;
}
/*
.dashboard-main.hide-menu .right-panel {
	width: calc(100% - 120px);
}
*/
ul.main-menu li {
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #013850;
	transition: 0.3s;
}
ul.main-menu li:hover {
	padding-left: 4px;
	border-left: 5px solid rgba(255, 255, 255, 0.25);
}
ul.main-menu li a {
	color: #fff;
	padding: 14px 25px;
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	border-top: 1px solid #005579;
	text-decoration: none;
}
ul.main-menu {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
.menu-ico {
	padding: 20px 25px;
	cursor: pointer;
	transition: 0.5s;
	padding-left: 0;
}
.hide-menu .left-panel {
	width: 58px;
}
.hide-menu .left-panel .menu-ico {
	padding: 20px 12px;
}
.hide-menu ul.main-menu {
	display: none;
}
.hide-menu .footer {
	display: none;
}
h2.title.gradient {
	color: #014867;
	font-size: 20px;
	line-height: 30px;
	padding: 10px 20px;
	border-radius: 5px 5px 0 0;
	margin: 0;
	float: left;
	width: 100%;
    font-weight: 500;
    text-align: left !important;
}
.box-content {
	background: #fff;
	border: 1px solid #d9e1f1;
	float: left;
	width: 100%;
	padding: 20px;
}
.header-right {
	position: absolute;
	right: 4%;
}
.icons-header {
	float: left;
	margin-top: 12px;
	margin-right: 15px;
}
.icons-header-links {
	float: right;
}
.icons-header-links ul {
	margin: 0;
	padding: 0;
}
.icons-header-links ul li a {
	list-style: none;
	color: #004360;
	font-weight: 600;
}
.icons-header-links ul li {
	list-style: none;
	margin: 5px 0;
}
.icons-header img {
	margin: 0 10px;
	cursor: pointer;
}
h3.title-box {
	margin: 0;
	font-size: 13px;
	line-height: 16px;
	font-weight: 600;
	margin-bottom: 12px;
	color: rgba(10, 67, 92, 0.8);
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	color: rgba(10, 67, 92, 0.6) !important;
	font-size: 13px;
	line-height: 22px;
	
}
input:-moz-placeholder,
select:-moz-placeholder { /* Firefox 18- */
	color: rgba(10, 67, 92, 0.6) !important;
	font-size: 13px;
	line-height: 22px;
}
input::-moz-placeholder,
select::-moz-placeholder { /* Firefox 19+ */
	color: rgba(10, 67, 92, 0.6) !important;
	font-size: 13px;
	line-height: 22px;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder {
	color: rgba(10, 67, 92, 0.6) !important;
	font-size: 13px;
	line-height: 22px;
}
input.form-field,
select {
	border: 1px solid #d9e1f1;
	height: 45px;
	padding: 0 20px;
	outline: none;
	color: rgba(10, 67, 92, 0.6) !important;
	font-size: 13px;
	line-height: 22px;
}
select {
	width: 100%;
	position: relative;
}
input.form-field:focus,
select:focus {
	border: 1px solid #045577;
	box-shadow: none;
}
.search-h input.form-field, .search-cat input.form-field {
	width: 100%;
	float: left;
}
input[type="submit"] , input[type="button"]{
color: #fff;
    height: 45px;
    padding: 0;
    font-size: 15px;
    line-height: 45px;
    border: none;
    margin: 0 6px;
    background: #004360;
    border-radius: 4px;
    transition: 0.3s;
    width: auto;
    float: left;
    padding: 0 15px;
}
input[type="submit"]:hover {
	background: #186281;
	transition: 0.3s;
}
.search-h {
	padding: 8px 0 13px 14px;
	border-bottom: none;
	background: #fff;
	width: 100%;
	border: 1px solid #d9e1f1;
	border-radius: 5px;
	float: left;
}
.search-cat {
	float: left;
	padding: 8px 14px 13px 14px;
	border-bottom: none;
	background: #f6f7fa;
	width: calc(66% - 15px);
	border: 1px solid #d9e1f1;
	border-radius: 5px;
	margin-left: 15px;
}
.search-cat input[type="submit"] {
	margin: 0;
	width: calc(100% - 15px);
	margin-left: 15px;
}
.select-fields {
	margin-bottom: 0px;
	width: 20%;
}
.full-line {
	margin-bottom: 15px;
}
.btn-search input {
	/* float: right; */
}
.btn-search {
	float: right;
}
.content-parent {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
/* Vertical Tabs */
.vertical-tabs ul.nav.nav-tabs {
	width: 180px;
	float: left;
	border: none;
}
.vertical-tabs .nav-tabs > li {
	float: none;
	margin-bottom: 0;
	border: 1px solid #d9e1f1;
	border-bottom: none;
	padding: 10px 10px;
	background: #696e6e;
	border-right: 0;
}
.vertical-tabs .nav-tabs > li:last-of-type {
	border-bottom: 1px solid #d9e1f1;
}
.vertical-tabs .nav-tabs > li > a {
	line-height: 24px;
	border: none;
	border-radius: 0;
	color: #fff;
	margin: 0;
	padding: 0;
	background: #696e6e;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #000;
	cursor: default;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
}
.vertical-tabs .nav-tabs > li.nav-item.active {
	color: #fff !important;
	background: #004360;
	position: relative;
	border: 1px solid #004360;
	border-top: 1px solid #d9e1f1;
}
.vertical-tabs .nav-tabs > li.nav-item.active a {
	color: #fff !important;
}
.vertical-tabs .nav-tabs > li.nav-item.active:after {
	content: "";
	width: 0;
	height: 0;
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
	border-left: 17px solid #004360;
	position: absolute;
	right: -18px;
	top: 0px;
}
.vertical-tabs {
	float: left;
	width: 100%;
	background: #fff;
	padding: 20px;
}
.tab-content {
	width: calc(100% - 180px);
	float: right;
	background: #fff;
	padding: 25px;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); */
	border: 1px solid #d9e1f1;
}
.tab-right-details {
	width: 84%;
	float: right;
	position: relative;
}
.tab-right-details h2 {
font-size: 20px;
    line-height: 30px;
    margin: 0 0 0px 0;
    text-align: left;
    font-weight: 600;
    color: #0a435c;
}
.pro-box {
	float: left;
	width: 100%;
	/* overflow-x: auto; */
}
.pro-box-inner {
	background: #fff;
	text-align: center;
	padding: 18px 0;
	float: left;
	border: none;
	width: 100%;
}
.pro-box-inner ul li,
.tab-left-details ul li {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin: 0px 0 10px;
	color: #004360;
	float: left;
	width: 100%;
	background: #fff;
	text-align: center;
	padding: 10px 0;
	border: 1px solid #d9e1f1;
}
.tab-left-details ul li {
	
	background: #edf0f5;
}
.pro-box-inner ul,
.tab-left-details ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
.pro-box-inner img {
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.12); */
	margin-bottom: 10px;
}
.pro-box-inner h3 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
	margin: 0 0 12px;
	color: #000;
}
.pro-box-main label {
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin: 0;
	color: #000;
}
input.checkbox-pro {
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	left: -5px;
}
.zone-wrapper {
	float: left;
	width: 100%;
	overflow-x: scroll;
	padding-bottom: 20px;
}
.zone-scroll {
	width: 2200px;
	overflow: hidden;
	min-width: 100%;
}
.pro-box-main {
	width: 285px;
	float: left;
	margin-right: 0;
}
.tab-left-details {
	float: left;
	width: 16%;
}
.tab-left-details ul {
    margin-top: 219px;
}
.selection-panel input {
	width: 49%;
	margin: 0;
}
.selection-panel input {
	width: 49%;
	margin: 0;
}
.selection-panel input[type="submit"] {
	float: right;
}
.selection-panel {
	float: left;
	width: 100%;
	margin: 30px 0 0;
	padding: 8px 14px 13px 14px;
	border-bottom: none;
	background: #f6f7fa;
	border: 1px solid #d9e1f1;
	border-radius: 5px;
	float: left;
}
i.fa.fa-close {
	background: #000;
	color: #fff;
	padding: 4px;
	width: 20px;
}
.closex {
	position: absolute;
	right: 4px;
	top: 12px;
	cursor: pointer;
	z-index: 999;
}
/*.content-box-2 .tab-left-details ul {*/
/*margin-top: 119px;*/
/*}*/
.pro-box-inner form {
	float: left;
	width: 100%;
}
.content-box-2 .pro-box-inner form {
	padding: 0;
}
.feild-supp {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 0;
	position: relative;
	border: 1px solid #d9e1f1;
	background: #edf0f5;
	padding: 7px 15px 10px;
	border-bottom: 0;
}
.feild-supp:last-of-type {
	border-bottom: 1px solid #d9e1f1;
}
.content-box-2 input.checkbox-pro {
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	left: -5px;
}
.content-box-2 i.fa.fa-edit {
	font-size: 20px;
	float: right;
	position: relative;
	top: 5px;
}
.content-box-2 .quantity input.pro {
	width: 95px;
	margin: 2px 10px;
	padding: 0 0px 0 10px;
}
.content-box-2 form.left-rfq {
	width: 45%;
	float: left;
}
.quantity label {
	position: relative;
	top: 2px;
}
.content-box-2 form.right-rfq {
	float: right;
	width: 49%;
	padding-left: 6%;
	margin-left: 0;
	border-left: 1px solid #cccc;
}
.content-box-2 .selection-panel label {
	width: 100%;
}
.content-box-2 .selection-panel input {
	width: 100%;
	margin-bottom: 20px;
}
.edit {
	position: absolute;
	right: 34px;
	top: 10px;
	cursor: pointer;
	z-index: 999;
}
.shows-listing-main {
	background: #6b7070;
	padding: 20px;
	border-radius: 4px;
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
.shows-list-inner {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
}
.shows-list-inner input[type=radio] {
	position: relative;
	top: 3px;
	width: 28px;
	height: 15px;
	margin-left: 20px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 8px;
	line-height: 28px;
	vertical-align: top;
	border: none;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}
td i.fa.fa-plus-square {
	font-size: 15px;
	position: relative;
	top: 1px;
	margin-right: 2px;
}
tr:nth-of-type(even) {
	background: #fff;
}
td:nth-of-type(even) {
	background: #f6f7fa;
}
tr:nth-of-type(even) {
	background: #fff;
}
tr {
	background: #fff;
	border: 1px solid #d9e1f1;
	/*margin: 0 0 10px !important;*/
	/*display: table;*/
	/*width: 100%;*/
}
thead tr {
	border: none;
}
.table > thead > tr > th {
	color: #004360;
}
thead {
	background: #fff;
}
thead tr th {
	font-size: 14px !important;
	line-height: 30px !important;
	font-weight: 700 !important;
}
.search-h.no-padding-full {
	border: none;
}
.pagination-h {
	display: table;
	margin: 40px auto;
}
.pagination-h ul li {
	list-style: none;
	float: left;
	border: 1px solid #bcbcbc;
	background: #f1f1f1;
	transition: 0.3s;
}
.pagination-h ul li:hover {
	background: #dcdcdc;
}
.pagination-h ul li a {
	color: #035071;
	padding: 8px 14px;
	display: block;
	font-weight: 600;
	text-decoration: none;
}
.rfq-no {
	background: #035071;
	color: #fff;
	display: table;
	padding: 15px 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 15px;
}
.company-details {
	background: #fff;
	padding: 20px 30px;
	border: 1px solid #d9e1f1;
	border-radius: 4px;
	margin-bottom: 30px;
	float: left;
	width: 100%;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);*/
}
.co-logo {
	display: inline-block;
	border-right: 1px solid #d9e1f1;
	padding-right: 30px;
	float: left;
	margin-right: 30px;
}
.co-logo img {
	display: table;
	padding: 25px;
	background: #f1f2f2;
	border-radius: 100%;
}
.co-details {
	float: left;
}
.co-details ul {
	margin: 0;
	padding: 0;
}
.co-details ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: 600;
}
.co-details h3 {
	list-style: none;
	margin: 0 0 12px;
	padding: 0;
	font-size: 22px;
	line-height: 28px;
	color: #000;
	font-weight: 600;
}
.rfq-add {
	margin-bottom: 30px;
}
.rfq-add .box-content ul {
	margin: 0;
	padding: 12px 25px;
}
.rfq-add .box-content ul li {
	list-style: none;
	margin: 8px 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: 600;
}
.rfq-add .box-content ul li span {
	width: 150px;
	display: inline-block;
	font-weight: 700;
}
.tab-content.rfq-details-tabs {
	padding: 0;
}
input.qty {
	width: 50px;
	padding-left: 10px;
}
.send-to-supp a {
	color: #fff;
	height: 45px;
	padding: 0px 60px;
	font-size: 16px;
	line-height: 45px;
	border: none;
	background: #004360;
	transition: 0.3s;
	display: table;
	float: right;
	margin: 20px 10px;
	text-decoration: none;
}
.send-to-supp a:hover {
	background: #186281;
	transition: 0.3s;
}
.estimate-details .pro-box-main {
	width: 385px;
	float: left;
	margin-right: 0;
}
.image-details {
	background: #fff;
	width: 100%;
	float: left;
	box-shadow: none;
	margin-bottom: 0;
	position: relative;
	border: 1px solid #d9e1f1;
	border-right: none;
	padding: 20px 0;
}
.image-details img {
	box-shadow: none;
	margin: 0;
	float: none;
}
.image-details-content h3 span {
	display: block;
	font-size: 14px;
	line-height: 24px;
}
.image-details-main {
	padding: 25px 0px 0px;
	padding-top: 5px;
	border-bottom: none;
	margin-bottom: 0;
	float: left;
}
.image-details-content {
	float: left;
	border-right: none;
	border-left: 1px solid #d9e1f1;
	padding: 25px 0;
	width:100%;
}
.image-details-content p {
	color: #000;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0 20px;
}
.image-details-content h3 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	margin: 0 0 5px;
	color: #000;
	float: left;
	width: 100%;
}
.estimate-details .pro-box-inner ul li, .estimate-details .tab-left-details ul li {
	list-style: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin: 5px 0;
	color: #000;
	float: left;
	width: 100%;
}
.image-details i.fa {
	background: #eaeaea;
	width: 35px;
	text-align: center;
	height: 30px;
	line-height: 28px;
	border: 1px solid #ccc;
	font-size: 17px;
	float: right;
	cursor: pointer;
	margin: -8px 10px 0 0;
}
.feild-supp i.fa-search {
	font-size: 16px;
	margin-right: 6px;
}
.estimate-details .content-box-2 i.fa.fa-edit {
	font-size: 20px;
	float: none;
	position: relative;
	top: 2px;
	margin-right: 10px;
	margin-left: 20px;
}
.estimate-details .pro-box-inner ul {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.estimate-details .content-box-2 .tab-left-details ul {
	margin-top: 311px;
}
.name-bar {
	border: 1px solid #d9e1f1;
	border-radius: 5px 5px 0 0;
	background: #f0f1f1;
	font-size: 18px;
	font-weight: 600;
	padding: 8px 10px;
}
.po-details h2.title.gradient {
	border-radius: 0px 0px 0 0;
}
.send-po ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.send-po ul li {
	display: inline-block;
	font-size: 15px;
	line-height: 36px;
	color: #000;
	margin-right: 20px;
	font-weight: 600;
}
.send-to-supp.send-po a {
	margin: 0;
	color: #fff;
	height: 36px;
	padding: 0px 40px;
	font-size: 14px;
	line-height: 36px;
	border: none;
	background: #004360;
	transition: 0.3s;
	display: table;
	float: right;
	text-decoration: none;
}
.po-details .tab-content {
	padding: 0;
}
.send-to-supp.send-po {
	float: left;
	width: 100%;
	border-bottom: 1px solid #d9e1f1;
	padding: 4px 20px;
}
.send-po ul li span {
	margin-right: 10px;
}
.po-details .company-details {
	background: #fff;
	padding: 30px 50px;
	border: none;
	border-radius: 4px;
	margin-bottom: 30px;
	float: left;
	width: 100%;
}
.co-title h2 {
	color: #000;
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
	border-bottom: 1px solid #d9e1f1;
	margin-bottom: 25px;
	padding-bottom: 25px;
	margin-top: 0;
}
.send-to-supp.send-po a:hover {
	background: #186281;
	transition: 0.3s;
}
.con-left,
.con-right {
	border: 1px solid #d9e1f1;
	border-radius: 8px 0 0 0;
	width: 50%;
	float: left;
	background: #f8f8f8;
}
.company-details.content-main-po {
	padding: 0px 50px;
}
.content-main-po h3 {
	background: #e9eaeb;
	color: #000;
	margin: 0;
	padding: 10px 20px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	border-bottom: 1px solid #d9e1f1;
	border-radius: 8px 0 0 0;
	min-height: 47px;
}
.con-right {
	border-radius: 0 8px 0 0;
	border-left: 0;
}
.content-main-po .con-right h3 {
	border-radius: 0 8px 0 0;
}
ul.to-po-details {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.to-po-details li {
	font-size: 14px;
	line-height: 26px;
	color: #000;
	border-bottom: 1px solid #d9e1f1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
ul.to-po-details li:last-of-type {
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
ul.to-po-details li span {
	width: 140px;
	float: left;
	display: inline-block;
	font-weight: 600;
}
.con-inner-content {
	padding: 20px;
}
ul.left-second-ul {
	float: left;
	margin: 20px 0 21px;
	padding: 0;
	list-style: none;
	width: 100%;
}
ul.left-second-ul li {
	font-size: 13px;
	line-height: 20px;
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0;
}
ul.left-second-ul li span {
	width: 60px;
	float: left;
	display: inline-block;
	font-weight: 600;
}
.con-right {
}
.con-right .con-inner-content {
	background: #fff;
	float: left;
	width: 100%;
	border: 1px solid #d9e1f1;
	padding: 12px 0;
}
.con-parnt-content {
	padding: 20px;
	float: left;
	width: 100%;
}
.con-parnt-content ul.left-second-ul {
	display: table;
	margin: 0 auto;
	float: none;
	width: auto;
}
.con-parnt-content ul.left-second-ul li span {
	width: 150px;
	float: left;
	display: inline-block;
	font-weight: 600;
}
.con-parnt-content ul.left-second-ul li {
	font-size: 14px;
	line-height: 25px;
}
.company-details p {
	color: #000;
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	float: left;
	width: 100%;
}
.content-main-po {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.company-details.main-parnt {
	padding-top: 0;
}
.table > thead > tr > th:first-child,
.table > tbody > tr > td:first-child {
	text-align: left;
	border: none;
	padding-left: 25px;
}
.content-table-pro table.table.table-h {
	border: 1px solid #d9e1f1;
	border-radius: 8px 8px 0 0;
}
.content-table-pro .table > thead > tr > th {
	font-size: 16px !important;
}
.content-table-pro .table > tbody > tr > td span {
	display: block;
}
.content-table-pro .table > tbody > tr > td {
	vertical-align: middle;
	border: none;
}
.table > tbody > tr > td:first-child {
	padding-left: 25px;
}
.content-table-pro {
	float: left;
	width: 100%;
	margin: 10px 0 0;
}
.totalcon-left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.totalcon-left ul li {
	font-size: 16px;
	line-height: 28px;
	color: #000;
	margin-bottom: 10px;
	padding-bottom: 0;
	font-weight: 600;
}
.totalcon-left ul span {
	width: 160px;
	float: left;
	display: inline-block;
	font-weight: 700;
}
.totalcon-left {
	width: 50%;
	float: left;
}
.totalcon-right {
	width: 30%;
	margin-top: 80px;
	float: right;
}
.totalcon-right ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.totalcon-right ul li {
	font-size: 16px;
	line-height: 48px;
	color: #000;
	margin-bottom: 10px;
	padding-bottom: 0;
	font-weight: 600;
	float: right;
	width: 100%;
}
.totalcon-right ul span {
	width: 160px;
	float: right;
	display: inline-block;
	font-weight: 700;
	background: #004360;
	color: #fff;
	text-align: center;
	line-height: 28px;
	padding: 10px 0;
	height: 48px;
}
.content-main-total {
	float: left;
	width: 100%;
	margin: 20px 0;
}
.content-main-sign h4 {
	font-size: 16px;
	line-height: 28px;
	color: #000;
	font-weight: 600;
}
.signature-box {
	border: 2px solid #d9e1f1;
	height: 200px;
}
h2.title a {
	background: #f9f9f9;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 20px;
	float: right;
	border-radius: 3px;
	text-decoration: none;
	/* position: relative; */
}
h2.title span {
	position: relative;
	top: 4px;
}
.supp-parent td i.fa {
	font-size: 16px;
	line-height: 20px;
	margin: 0 5px;
}
.supp-dash .send-to-supp a {
	margin-right: 30px;
	margin-top: 0;
}
.supp-rfq input[type="submit"] {
	float: right;
	width: 180px;
}
.parnt-radio {
	width: calc(100% - 200px);
	float: left;
	padding: 0px 0 0;
	text-align: center;
}
.supp-rfq .shows-list-inner input[type=radio] {
	position: relative;
	top: 3px;
	width: 28px;
	height: 15px;
	margin-left: 20px;
	margin-top: 15px;
}
.supp-po-det .tab-content {
	width: 100%;
}
.co-pro h3 {
	font-weight: 600;
	font-size: 30px;
}
.co-pro h3 span {
	display: block;
	margin: 20px 0 0;
	font-size: 18px;
}
.t-m {
	margin-top: 15px;
}
.gen-msg textarea {
	width: 100%;
	height: 130px;
	border: 1px solid #d9e1f1;
}
.gen-msg {
}
.gen-msg input[type="submit"] {
	width: 55%;
	display: inline-block;
	padding: 0;
	margin-top: 15px;
}
.gen-msg .send-to-supp {
	width: 40%;
	float: right;
	margin-top: 15px;
}
.gen-msg .send-to-supp a {
	color: #fff;
	height: 45px;
	padding: 0;
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 45px;
	border: none;
	background: #004360;
	transition: 0.3s;
	display: table;
	float: right;
	margin: 0px 0px;
	text-decoration: none;
}
.co-pro {
	margin-top: 50px;
}
.content-box-1.rfq-add {
	float: left;
	/*width: 100%;*/
	/*padding: 0 0;*/
}
.content-box-1 {
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);*/
}
.rfq-d-img {
	height: 210px;
	display: flex;
	align-items: center;
	border: 1px solid #d9e1f1;
}
.rfq-d-img img {
	display: table;
	margin: 0 auto;
}
.rfq-d-img i.fa.fa-exclamation-triangle,
.rfq-d-img i.fa.fa-info-circle {
	font-size: 28px;
	color: #000;
	position: absolute;
	top: 20px;
	cursor: pointer;
	left: 15px;
}
.rfq-d-content {
}
.rfq-d-img i.fa.fa-info-circle {
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 8px;
    cursor: pointer;
    left: 15px;
}
.rfq-d-content h4 {
	color: #000;
	font-size: 16px;
	line-height: 42px;
	font-weight: 600;
	border: 1px solid #d9e1f1;
	background: #0a435c;
	color: #fff;
	margin: 0;
	text-align: center;
	margin-bottom: 6px;
}
.rfq-d-content h4 span {
	display: block;
	font-weight: 400;
	margin-top: 0;
	font-size: 14px;
	line-height: 40px;
	background: #fff;
	color: #0a435c;
}
.rfq-d-content i.fa {
	position: absolute;
	right: 15px;
	top: 10px;
}
.rfq-d-content input[type="number"],
.rfq-d-content select {
	display: inline-block;
	width: 80px;
	float: right;
	height: 35px;
	border: 1px solid #d9e1f1;
	padding-left: 12px;
	margin-bottom: 15px;
}
.rfq-d-content label {
	line-height: 35px;
	color: #000;
	float: left;
}
.srfq-box-inner {
	background: #fff;
	/* border: 1px solid #d9e1f1; */
	float: left;
	width: 100%;
	border-radius: 6px;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
	margin-bottom: 15px;
}
.f-field {
	float: left;
	width: 100%;
}
.pro-det p {
	color: #000000;
	font-size: 15px;
	line-height: 24px;
	font-weight: 600;
	padding: 12px 40px 0 0;
	border-top: 1px solid #ccc;
}
.box-content.supp-rfq-det-main {
	padding-top: 15px;
}
.right-panel-content {
	float: left;
	width: 100%;
	padding-left: 0px;
	position: relative;
}
.no-shadow {
	box-shadow: none;
}
.po-details.h-det .company-details {
	margin-bottom: 0;
}
/*popover css*/
.pop-over-main {
	position: absolute;
	top: 40px;
	padding: 16px 0 0;
	right: 0;
	z-index: 999999;
	display: none;
}
.popover-inner::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	background-color: #F5F5F5;
}
.popover-inner::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.popover-inner::-webkit-scrollbar-thumb {
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #004360;
}
.popover-inner {
	background: #fff;
	border-radius: 4px;
	width: 400px;
	right: 0;
	max-height: 400px;
	overflow-y: auto;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
	padding: 25px 15px;
}
.popover-inner h3 {
	font-size: 20px;
	text-align: left;
	margin: 0;
	font-weight: 600;
	color: #000;
}
.title {
	/*border-bottom: 1px solid #dedede;*/
	padding: 0 0 12px;
	position: relative;
}
.title i.fa-close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	width: 20px;
	cursor: pointer;
}
.btn-h-main {
	position: relative;
	float: right;
	border: 1px solid #d9e1f1;
}
.popover-inner:before {
	top: -11px;
	border-bottom: 11px solid #fff;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
}
.popover-inner:before, .popover-inner:after {
	z-index: 99;
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 100%;
	right: auto;
	margin-right: 0;
	margin-left: -51px;
	top: 5px;
	/* -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2); */
	/* box-shadow: 0 6px 29px rgba(0, 0, 0, .2); */
}
.search-popover label {
	color: #000;
	font-size: 13px;
	text-align: left;
	width: 100%;
	line-height: 23px;
	margin-top: 10px;
}
.search-popover input,
.search-popover select {
	width: 100%;
	border: 1px solid #ccc;
	padding: 0 10px;
	height: 34px;
	font-size: 13px;
	color: #000;
}
.search-popover input::-webkit-input-placeholder {
	font-size: 13px;
	
}
.search-popover input:-moz-placeholder { /* Firefox 18- */
	font-size: 13px;
}
.search-popover input::-moz-placeholder { /* Firefox 19+ */
	font-size: 13px;
}
.search-popover input:-ms-input-placeholder {
	font-size: 13px;
}
.result-search {
	color: #000;
}
.result-search ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.result-search ul li {
	font-size: 13px;
	line-height: 26px;
	float: left;
	width: 33.3%;
	text-align: left;
}
.result-heading ul li {
	font-weight: 600;
}
.result-search ul li:nth-child(2) {
	text-align: center;
}
.result-search ul li:nth-child(3) {
	text-align: right;
}
.result-search label {
	margin-bottom: 8px;
}
.add-btn a {
	background: #004360 !important;
	color: #fff !important;
	margin: 10px 0 !important;
}
.add-btn a:hover {
	background: #186281 !important;
	transition: 0.3s !important;
}
.search-popover {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dedede;
	padding: 0 0 5px;
}
.no-border {
	border: none;
	padding: 0;
}
.overlay-form {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}
tbody tr td {
	color: #666666;
}
tbody tr td i.fa.fa-ellipsis-v {
	font-size: 20px;
	position: relative;
	top: 3px;
	width: 15px;
	cursor: pointer;
}
.pop-over-main.supp-rfq {
	right: initial;
	left: 0;
}
.pop-over-main.supp-rfq .popover-inner {
    width: 350px;
}
.pop-over-main.supp-rfq .popover-inner:before, .pop-over-main.supp-rfq .popover-inner:after {
	right: initial;
	left: 68px;
}
.result-search.supp-rfq ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}
.result-search.supp-rfq ul li {
	width: 100%;
	border-bottom: 1px solid #dedede;
	text-align: left;
	margin: 15px 0 0;
	padding-bottom: 15px;
}
.result-search.supp-rfq ul li:last-of-type {
	border: none;
	padding-bottom: 0px;
}
.result-search.supp-rfq ul li span {
	float: right;
	text-align: right;
	width: auto;
	display: block;
}
.result-search.gt a {
	width: 100%;
	text-align: center;
	margin-top: 20px !important;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
	float: right;
	border-radius: 3px;
	text-decoration: none;
}
.popover-inner.gt {
	padding: 0px 15px 5px;
}
.gt i.fa.fa-close {
	top: 12px;
}
.image-details .pop-over-main.supp-rfq {
	right: initial;
	left: initial;
	right: 0;
}
.image-details .pop-over-main.supp-rfq .popover-inner:before, .image-details .pop-over-main.supp-rfq .popover-inner:after {
	right: 15px;
	left: initial;
}
.image-details .pop-over-main.supp-rfq .title i.fa-close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	width: 20px;
	cursor: pointer;
	background: #000;
	color: #fff;
	padding: 4px;
	width: 20px;
	height: auto;
	line-height: initial;
	border: none;
	margin: 0;
}
.image-details .result-search.supp-rfq ul li {
	width: 100%;
	border-bottom: none;
	text-align: left;
	margin: 5px 0 0;
	padding-bottom: 5px;
}
.image-details .result-search.supp-rfq ul {
	margin: 20px 0 0;
	border-bottom: none;
}
.image-details .pop-over-main.supp-rfq .popover-inner {
	width: 340px;
}
.feild-supp .pop-over-main.supp-rfq {
	bottom: -20px;
	top: initial;
	left: 33px;
	z-index: 99999;
}
.feild-supp .pop-over-main.supp-rfq .popover-inner:before, .feild-supp .pop-over-main.supp-rfq .popover-inner:after {
	right: initial;
	left: 30px;
	bottom: 20px;
}
.feild-supp .pop-over-main.supp-rfq .popover-inner:before {
	top: initial;
	border-top: 11px solid transparent;
	border-right: 11px solid #fff;
	border-bottom: 11px solid transparent;
}
.feild-supp .pop-over-main.supp-rfq .popover-inner {
	width: 400px;
	max-height: 430px;
}
.feild-supp .result-search.supp-rfq ul li {
	width: 100%;
	border-bottom: none;
	text-align: left;
	margin: 8px 0 0;
	padding-bottom: 8px;
}
.feild-supp .result-search.supp-rfq ul {
	margin: 12px 0 30px;
	border-bottom: none;
}
.result-content p {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: 600;
	margin: 15px 0 0;
}
i.fa.fa-search.popup_open,
i.fa.fa-comments.popup_open,
i.fa.fa-edit.popup_open {
	cursor: pointer;
}
.pop-over-main.supp-rfq.edit-pop {
	left: 160px;
}
.edit-p input[type="number"] {
	margin: 10px 0 0;
	padding: 0 10px;
	width: 100px;
	height: 40px;
}
.edit-p {
	border-right: 1px solid #ccc;
}
.edit-p:last-of-type {
	border-right: none;
}
.edit-p input[type="text"] {
	height: 40px;
	width: 100%;
	padding: 0 10px;
}
.pro-box-main label.reason {
	margin: 20px 0 8px;
}
a.downl-se {
	color: #fff;
	height: 40px;
	padding: 0;
	font-size: 14px;
	line-height: 40px;
	border: none;
	margin: 10px 0px 0;
	background: #004360;
	transition: 0.3s;
	float: left;
	width: 100%;
	text-align: center;
	text-decoration: none;
}
a.downl-se:hover {
	background: #186281;
	transition: 0.3s;
}
.sup-es {
	background: #f8f8f8;
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 14px 12px 15px;
	margin: 18px 0 0;
}
.sup-es h3 {
	font-size: 16px !important;
	line-height: 24px;
	text-align: center;
}
.pop-over-main.supp-rfq.edit-pop i.fa.fa-close {
	top: -16px;
	right: -5px;
}
.pop-over-main.supp-rfq.edit-pop.indi {
	left: 104%;
}
/*popover css end*/
/*search css*/
.search-inner-content {
	background: #fff;
	float: left;
	width: 100%;
	padding: 30px 15px;
}
.search-box {
	border: 1px solid #dcddde;
	padding: 8px;
	float: left;
	width: 100%;
	background: #fff;
}
.box-search-image {
	width: 35%;
	float: left;
}
.box-search-content {
	width: 65%;
	float: left;
}
.box-search-content h3 {
	margin: 0;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	font-weight: 600;
margin-top: 12px;
}
.search-box-main {
	margin-bottom: 30px;
}
.search-popover-has {
	float: none;
	width: calc(90% - 15px);
	display: none;
	border-bottom: none;
	padding: 0 0 5px;
	position: absolute;
	top: 130px;
	margin: 0 auto;
	z-index: 9999999;
	left: 0;
	right: 0;
}
h2.title.gradient img {
	float: right;
	cursor: pointer;
}
/*search css end*/

/*----------Login-details-------------*/
.login-form {
	text-align: center;
	padding-bottom: 50px;
}
.login-form.sign-up {
	padding-bottom: 150px;
}
.header.login-page {
	background: #f8f8f8;
	padding: 19px 0;
	border-bottom: 1px solid #dcddde;
}
.logo-login img {
	margin: 0 auto;
	display: table;
}
.login-form h1 {
	color: #0e405b;
	font-size: 34px;
	font-weight: 700;
	line-height: 48px;
	margin: 50px 0 0;
}
.login-form span {
	color: #4f575d;
	font-size: 16px;
	line-height: 28px;
	margin: 0 0 30px;
	font-weight: 600;
	display: block;
}
.form-login-panel p {
	font-size: 26px;
	line-height: 48px;
	color: #2d2e4f;
	font-weight: 700;
	margin-bottom: 20px;
}
form.form-login-panel {
	width: 410px;
	margin: 0 auto;
}
form.form-login-panel {
	width: 410px;
	margin: 0 auto;
}
form.form-login-panel input {
	border: none;
	background: transparent;
	box-shadow: none;
	border-bottom: 2px solid #c6c6da;
	border-radius: 0;
	height: 44px;
	color: #2d2e4f;
	font-size: 16px;
	padding: 0 30px 0 4px;
	margin-bottom: 20px;
	font-weight: 700;
}
form.form-login-panel input.username {
	background: url("../images/username-login.png") center right 5px no-repeat;
}
form.form-login-panel input.password {
	background: url("../images/pass-login.png") center right 5px no-repeat;
}
form.form-login-panel input.email {
	background: url("../images/email.png") center right 5px no-repeat;
}
form.form-login-panel input.phone {
	background: url("../images/phone.png") center right 5px no-repeat;
}
form.form-login-panel input.mobile {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADLSURBVDhPY0AGenp+ETq6/q919fz/gzCQvVdHz282kP4N4fv90tX1WxQaGsoM1YIKgAqfABU80NXzOwPGuv5rQQYANZ8G8YHy54Dsf0BxZ6gWVAC04QNQ0hbKxQqABj0CqomCclEByAA9vQAbKBcrALrg4agBowYQNACYdCuAydkFG9bWD3ADqnmP1wCgDeCMBMF+14D0KlQxIMZpgJ7fJTTFk3V0AizRxP5p6fsbQLWgAqDJukBXrNHR89+NFev6bwd6JRWqHAgYGAC36YujTi9YPAAAAABJRU5ErkJggg==") center right 5px no-repeat;
}
form.form-login-panel input.job-title {
	background: url("../images/job-title.png") center right 5px no-repeat;
}
form.form-login-panel input.com-name {
	background: url("../images/com-name.png") center right 5px no-repeat;
}
form.form-login-panel input.country {
	background: url("../images/country.png") center right 5px no-repeat;
}
form.form-login-panel input.city {
	background: url("../images/city.png") center right 5px no-repeat;
}
.up-h .checkbox label:nth-of-type(2) {
	float: left;
	margin-top: 10px;
}
.form-control:focus,
form input.search-query:focus,
input.price:focus {
	border-color: #00658a !important;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: 0.3s;
}
.checkbox {
	width: 100%;
	float: left;
	margin: 15px 0 30px;
}
.checkbox label,
.checkbox label a {
	float: left;
	color: #2d2e4f;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	text-decoration: none;
}
.sign-up .checkbox label a {
	float: none;
	transition: 0.3s;
	color: #4f575d;
}
.sign-up .checkbox label a:hover {
	float: none;
	color: #0d405b;
}
.checkbox label a:hover {
	text-decoration: none;
}
.checkbox label:nth-of-type(2) {
	float: right;
}
form.form-login-panel .checkbox input {
	float: left;
	height: 14px;
}
form.form-login-panel button.btn-subs {
	width: 185px;
	float: left;
	background: transparent;
	border: 1px solid #0d405b;
	color: #60626e;
	border-radius: 4px;
	font-size: 16px;
	line-height: 46px;
	transition: 0.3s;
	font-weight: 600;
}
form.form-login-panel button.right-btn {
	float: right;
}
form.form-login-panel button#signup {
	float: right;
}
form.form-login-panel button.btn-subs:hover {
	background: #186281;
	transition: 0.3s;
	color: #fff;
}
.footer {
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 10px 0;
}
.footer ul {
	margin: 0 0 10px;
	padding: 0;
	list-style: none;
}
.footer ul li {

}
.footer ul li a {
	margin: 0 5px;
	color: #acacac;
	font-size: 14px;
	text-decoration: none;
	transition: 0.3s;
}
.footer ul li a:hover {
	color: #0d405b;
	text-decoration: none;
}
.copyright p {
	color: #acacac;
	font-size: 14px;
	line-height: 20px;
}
.inputfile + label {
	width: 100%;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile-6 + label {
	color: #0f405b;
}
.inputfile-6 + label {
	border: none;
	background-color: transparent;
	padding: 0;
	border-bottom: 2px solid #c6c6da;
}
.inputfile-6 + label span {
	width: 190px;
	min-height: 2em;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	padding: 0.625rem 1.25rem;
	margin-bottom: 0;
	color: #2d2e4f;
	font-size: 14px;
	float: left;
	text-align: left;
}
.inputfile-6 + label strong {
	color: #f1e5e6;
	background-color: #0f405b;
	display: block;
	float: right;
	padding: 11px 20px;
	font-size: 14px;
	cursor: pointer;
}
.up-title {
	float: left;
	width: 30%;
}
.up-title h3 {
	color: #2d2e4f;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	font-weight: 600;
	margin: 10px 0 0;
}
.up-main {
	float: right;
	width: 70%;
}
.login-form.sign-up.up-h .form-group {
	margin-bottom: 25px;
	float: left;
	width: 100%;
}
form.form-login-panel.full-width {
	width: 100%;
}
.checkbox {
	width: 100%;
	float: left;
	margin: 15px 0 30px;
}
.login-form.sign-up.up-h .form-group {
	margin-bottom: 8px;
	float: left;
	width: 100%;
}
.login .footer {
	position: static;
}
body.login {
	overflow-y: scroll;
}
/*----------Login-details-end------------*/

/*------extra pages css----------*/
.about-content {
	padding: 30px 30px 20px;
}
.about-content p {
	color: #000;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 15px;
}
.contact-form label {
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	margin: 0;
	color: #000;
}
.contact-form input {
	height: 44px;
	border-radius: 0;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 25px;
}
.contact-form textarea {
	height: 170px;
	border-radius: 0;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 15px;
	color: #000;
	padding: 12px 15px;
	resize: none;
}
.contact-form {
	padding-bottom: 30px;
	float: left;
	width: 100%;
}
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
	color: #000 !important;
	font-size: 14px;
	line-height: 20px;
	
}
.contact-form input:-moz-placeholder,
.contact-form textarea:-moz-placeholder { /* Firefox 18- */
	color: #000 !important;
	font-size: 14px;
	line-height: 20px;
}
.contact-form input::-moz-placeholder,
.contact-form textarea::-moz-placeholder { /* Firefox 19+ */
	color: #000 !important;
	font-size: 14px;
	line-height: 20px;
}
.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
	color: #000 !important;
	font-size: 14px;
	line-height: 20px;
}
button.btn.btn-default.submit {
	color: #fff;
	height: 44px;
	padding: 0;
	font-size: 14px;
	line-height: 40px;
	border: none;
	margin: 8px 0px 0;
	background: #004360;
	transition: 0.3s;
	float: left;
	width: 100%;
	border-radius: 0;
	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;
}
.not-bell .pop-over-main.supp-rfq {
	right: 130px;
	left: initial;
}
.header-right .pop-over-main.supp-rfq .popover-inner:before, .header-right .pop-over-main.supp-rfq .popover-inner:after {
	right: 26px;
	left: initial;
	top: 6px;
}
.header-right .popover-inner:after {
	top: 4.5px !important;
	border-bottom: 11px solid rgba(0, 0, 0, .2);
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	z-index: 9;
}
.not-bell:hover .pop-over-main {
	display: block;
}
.not-bell .pop-over-main.supp-rfq .popover-inner {
	width: 360px;
	border: 1px solid rgba(0, 0, 0, .2);
}
.notifications ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.notifications ul li span {
	font-size: 12px;
	display: block;
	line-height: 18px;
	font-weight: 400;
	margin-top: 3px;
}
.notifications ul li {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.notifications ul li:last-of-type {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
/*------extra pages css end--------------*/

/*update Css*/
.menu-btn img {
	float: left;
	margin-right: 25px;
}
.menu-btn h3 {
	float: left;
	color: #0a435c;
	font-size: 20px;
	line-height: 24px;
	margin: 0;
}
.menu-ico {
	float: left;
	width: 100%;
}
.login-ico {
	float: right;
	border: 1px solid #d9e1f1;
	padding: 10px;
	border-radius: 8px 8px 0 0;
	position: relative;
}
.login-ico img {
	float: left;
	margin-right: 15px;
}
.login-ico h4 {
	float: left;
	color: #666666;
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
}
.full-line {
	margin-bottom: 15px;
	display: none;
}
.pro-box-inner ul li, .tab-left-details ul li {
	border-right: none;
}
.pro-box-inner ul li:last-of-type, .tab-left-details ul li:last-of-type {
	margin-bottom: 0;
}
.tab-left-details ul li:first-of-type {
	background: #004360;
	color: #fff;
}
.img-main-new {
	border: 1px solid #d9e1f1;
	border-right: none;
	border-bottom: none;
	padding: 30px;
	background: #f6f8f8;
}
.pro-box-main:last-of-type .img-main-new {
	border-right: 1px solid #d9e1f1;
}
.pro-box-main:last-of-type ul li {
	border-right: 1px solid #d9e1f1;
}
.pro-box-main ul li:first-of-type {
	font-weight: 700;
	margin-top: 0;
}
.check-parent-new {
	border: 1px solid #d9e1f1;
	background: #696e6e;
	padding: 6px 0 10px;
	margin-top: 0;
}
.check-parent-new label {
	color: #fff;
}
.check-parent-new input {
	position: relative;
	top: 3px;
}
.selection-panel-new {
	margin-top: 20px;
	float: left;
	width: 100%;
}
.search-cat.new-has-rfq input {
	width: 30.3%;
	margin-left: 15px;
}
.search-cat.new-has-rfq input:first-of-type {
	width: 33.3%;
	margin-left: 0px;
}
.cop {
	float: left;
	width: 100%;
	padding: 10px 0 40px;
	text-align: center;
}
.new-full-search .search-h {
	width: 34%;
	background: #f6f7fa;
}
.sm-pop-hov .popover-inner {
	padding: 6px 20px;
	width: auto !important;
}
.pop-over-main.supp-rfq .popover-inner ul li {
	margin: 0;
}
.pop-over-main.supp-rfq .popover-inner ul li .fa {
	margin-right: 3px;
}
.pop-over-main.supp-rfq.sm-pop-hov .popover-inner:before {
	top: initial;
	border-top: 11px solid transparent;
	border-left: 11px solid #fff;
	border-bottom: 11px solid transparent;
}
.pop-over-main.supp-rfq.sm-pop-hov .popover-inner:after {
	top: 8.5px !important;
	border-top: 11px solid transparent;
	border-left: 11px solid rgba(0, 0, 0, .2);
	border-bottom: 11px solid transparent;
	z-index: 9;
}
.pop-over-main.supp-rfq.sm-pop-hov .popover-inner:before, .pop-over-main.supp-rfq.sm-pop-hov .popover-inner:after {
	z-index: 99;
	content: "";
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	left: 100%;
	right: auto;
	margin-right: 0;
	margin-left: -51px;
	top: 5px;
	/* -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2); */
	/* box-shadow: 0 6px 29px rgba(0, 0, 0, .2); */
}
.pop-over-main.supp-rfq.sm-pop-hov .popover-inner:before {
	right: -6px;
	left: initial;
	bottom: initial;
	top: 8px;
}
.pop-over-main.supp-rfq.sm-pop-hov .popover-inner:after {
	right: 4.7px;
	left: initial;
	bottom: initial;
	z-index: 9;
}
.pop-over-main.supp-rfq.sm-pop-hov {
	padding: 0 15px 0 0;
	top: -3px;
	left: -150px;
	display: none;
	width: 160px;
}
.par-sm-pop {
	width: 25px;
	display: table;
	margin: 0 auto;
	position: relative;
}
.par-sm-pop:hover .pop-over-main.supp-rfq.sm-pop-hov {
	display: block;
}
.table > tbody > tr > td:last-of-type {
	position: relative;
}
.pop-over-main.supp-rfq .popover-inner ul li a {
	color: #0a435c;
	text-decoration: none;
}
.rfq-listing-detils {
	padding: 20px;
}
.send-to-supp a.gry {
	background: #696e6e;
}
.popover-inner ul li {
	border: none !important;
}
.estimate-details .feild-supp {
	background: #696e6e;
}
.estimate-details .pro-box-main label,
.estimate-details .pro-box-main .feild-supp i.fa {
	color: #fff;
}
.estimate-details .pro-box-main:last-of-type .image-details {
	border-right: 1px solid #d9e1f1;
}
.estimate-details .pro-box-main:last-of-type .image-details-content {
	border-right: 1px solid #d9e1f1;
}
.content-box-1.rfq-add.f-wi {
	float: left;
	width: 100%;
	padding: 20px;
	background: #fff;
	border: 1px solid #d9e1f1;
}
.srfq-box-main.n-d {
	width: 300px;
	position: relative;
	float: left;
	margin-right: 15px;
}
.srfq-box-main.n-d .rfq-d-content input[type="number"], .srfq-box-main.n-d .rfq-d-content select {
	margin-bottom: 0;
}
.srfq-box-main.n-d .rfq-d-content label {
	line-height: 35px;
	color: #0a435c;
	float: left;
	margin-bottom: 0;
}
.srfq-box-main.n-d .f-field {
	float: left;
	width: 100%;
	border: 1px solid #d9e1f1;
	margin: 0 0 5px;
	padding: 6px;
}
.srfq-box-main.n-d .pro-det p {
	color: #0a435c;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	padding: 6px 10px;
	border: 1px solid #d9e1f1;
	background: #edf0f5;
	float: left;
}
.srfq-box-main.n-d .pro-det p:nth-of-type(2) {
    color: #0a435c;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    padding: 6px 10px;
    border: 1px solid #d9e1f1;
    background: #edf0f5;
    float: left;
    height: 64px;
    overflow-y: auto;
	    width: 100%;
}
.menu-main-has {
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 99999999;
	width: 100%;
	height: 100vh;
	background: #004360 url("../images/menu-op-bg.png") right bottom no-repeat;
	padding: 50px;
	transition: 0.3s;
}
.menu-main-has.sh-has {
	left: 0;
}
img.menu-logo-has {
	float: right;
	display: none;
}
.header-menu-main {
	float: left;
	width: 100%;
}
.header-menu-main i.fa-close {
	background: transparent;
}
img.menu-close-has {
	margin-top: 30px;
	cursor: pointer;
}
.menu-ul ul li a {
    color: #fff;
    font-size: 36px;
    line-height: 50px;
    font-weight: 500;
    text-decoration: none;
}
.menu-ul ul {
	list-style: none;
}
.menu-ul ul li {
	margin-bottom: 20px;
}
.menu-ul ul li:hover a {
	color: #696e6e;
	border-bottom: 3px solid #696e6e;
}
.menu-ul ul {
	list-style: none;
	float: left;
	width: 100%;
	margin-top: 40px;
}
.login-ico ul {
	position: absolute;
	top: 58px;
	width: 152.95px;
	left: -1px;
	list-style: none;
	border: 1px solid #d9e1f1;
	border-top: 0;
	background: #fff;
	color: #666666;
	padding: 5px 0;
	display: none;
}
.login-ico ul li {
	padding: 5px 12px;
}
.login-ico ul li a {
	color: #666;
	text-decoration: none;
}
.login-ico:hover ul {
	display: block;
}
.popover-inner label {
	color: #000 !important;
	clear: both;
	display: block;
}

/*Update CSs*/

/*------extra pages css end--------------*/

/* SOHAIB CSS */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: transparent !important;
}

.p-image{
	width: 205px;
	height: 140px;
}

.nav-item{
	width: 100%;
}

.part-menu{
	height: 200px;
	border: 1px solid #d1d3d4;
	background: white;
	overflow-y: scroll;
}

.part-menu div{
	padding: 7px;
	border-bottom: 1px solid #ccc;
}


.pro-box-inner h3 {
    white-space: nowrap;
    overflow: hidden;
    /* width: 260px; */
    text-overflow: ellipsis;
    padding-left: 10px;
}

form.form-login-panel a.btn-subs {
    min-width: 185px;
    float: left;
    background: transparent;
    border: 1px solid #0d405b;
    color: #60626e;
    border-radius: 4px;
    font-size: 16px;
    line-height: 46px;
    transition: 0.3s;
    font-weight: 600;
}

form.form-login-panel a.btn-subs:hover {
    background: #186281;
    transition: 0.3s;
    color: #fff;
}

.crfq.selection-panel-new {
    width: 84%;
    margin: 50px 0 0;
    float: right;
}

.nav-link{
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;	
}

.suppResp{
    background: #777;
    padding: 4px;	
}

label.sname{
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;	
    width: 100px;
}

#toast-container>div {
	font-size: 15px;
}

.btnn{
    color: #fff;
    width: 100%;
    font-size: 16px;
    border: none;
    background: #004360;
    transition: 0.3s;
    display: table;
    text-decoration: none;
	margin-top: 10px;
	padding: 10px;
}
.autocompletediv{
	width: 100%;
	    cursor: pointer;
}

.pro-box-inner ul li.fc{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;	
}

.est-suppname{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 112px;	
}

input.saverfqbtn {
    width: 100%;
}

li.darkli {
    background: #e9ecec !important;
}
.shows-list-inner label {
    font-weight: 400 !important;
}

.send-to-supp.has-a a {
    margin-top: 0;
}
label.est-suppname {
    position: relative;
    top: 5px;
    left: 1px;
}

.alert-danger {
    color: #e7e2e2;
    background-color: #a70b06;
    border-color: #d80728;
}

#productModel .modal-dialog{
	min-width: 82% !important;
}

.rmtp .h31{
	padding: 20px 10px 0px 10px;
	text-align: center;
}
.rmtp .h32{
	padding: 10px 10px 10px 10px;
	text-align: center;
}

/* Absolute Center Spinner */
.loading {
	position: fixed;
	z-index: 99999999999999999999999999999999999999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
	background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	display: none;
  }
  
  .loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-moz-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @-o-keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes spinner {
	0% {
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }


.imgsize{
	width: 150px;
	height: 150px;
}
.box-search-content a {
    background: #035071;
    color: #fff;
    padding: 8px 30px;
    float: left;
    margin-top: 10px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #035071;
    border-color: #035071;
}
.pagination>li>a, .pagination>li>span {
    outline: none;
}
.table-h tr td {
    cursor: pointer;
}
@media (min-width:767px)
{
.menu-main-has {
    width: 350px;
    padding: 50px 30px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.52);
}
	.menu-ul ul {
    list-style: none;
		    margin-top: 70px;
    padding-left: 0;
}
	.menu-ul ul li a {
    font-size: 22px;
    line-height: 30px;
}
	.box-search-image img {
    display: table;
    margin: 12px auto 0;
}
	.box-search-content h3 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    font-weight: 600;
    margin-top: 12px;
	
}